body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  background: linear-gradient(320deg, #fa4be0, #5e73fa);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 2px 2px 3px 1px #ccc;
  border-radius: 10px;
  padding: 10px;
  background-image: url("https://wallpaperaccess.com/full/1540024.jpg");
  text-align: center;
  width: 700px;
  height: 600px;
}

.data {
  color: aliceblue;
  height: auto;
}

.box {
  font-size: larger;
}

.image {
  border-radius: 50px;
  backgroundr: none;
}

.inputField {
  width: 40%;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
  padding: 2px;
}

.btn {
  width: auto;
  height: 30px;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
}

.subContainer {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
  font-size: larger;

}

.time {
  text-align: center;
  padding-top: 30px;
}

.temp {
  font-size: 100px;
}

.cityName {
  margin: 20px;
}

.sub {
  color: black;
}
